$colorWhite: #fff;
$colorBlack: #000;
$colorBackground: #F5FFFC;
$colorLightYellow: #FCFFD9;
$colorBlue: #0066FF;

$mediaXl: 'max-width: 1199px';
$mediaLg: 'max-width: 991px';
$mediaMd: 'max-width: 767px';
$mediaSm: 'max-width: 575px';
